<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://media.giphy.com/media/DZD6OikL9NHxK/giphy.gif');">
  <div class="banner-content">
    <h1 class="text-center">the universe is yours !</h1>
    <h2> we take you as far as your dreams can reach !</h2>

    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
