.descrshowdest{
  padding: 50px;
}

.BtnShowRight{
  padding:50px;
  //background-color:#d8d7d7;
  background-image: url("https://media.giphy.com/media/3xz2BRU6WpaxKiPzuE/giphy.gif");
  background-size:cover;
  background-position: center;
  color:white;
}

.text-deco-none{
  text-decoration:none;
  list-style:none;
}
