<%= render 'shared/cards' %>


<div class="top-padding-100 text-center">
  <p><%= link_to 'New Destination', new_destination_path, class: "btn btn-primary"%></p>
  <p><%= link_to 'Display All Available Destinations',
  '/desinations/display_unbooked_destinations', class: "btn btn-primary" %></p>
</div>
