
<%= render 'shared/wrapper' %>
<%= render 'shared/cards' %>


<div class="top-padding-100 text-center">
  <p><%= link_to 'New Destination', new_destination_path, class: "btn btn-primary"%></p>
</div>
